<!doctype html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><html lang="en" class="no-js"> <![endif]-->
<html lang="en">

<head>

  <% include ../partials/head %>
</head>

<body>

  <!-- Container -->
  <div id="container">

    <!-- Start Header -->
    <div class="hidden-header"></div>
    <header class="clearfix">

      <!-- Start Top Bar -->
      <div class="top-bar">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <!-- Start Contact Info -->
              <ul class="contact-details">
                <!-- <li><a href="#"><i class="fa fa-envelope-o"></i> support@limakilo.id</a>
                </li> -->
                <li><a href="#"><i class="fa fa-phone"></i> +62 878 865 24 547</a>
                </li>
              </ul>
              <!-- End Contact Info -->
            </div>
            <div class="col-md-6">
              <!-- Start Social Links -->
              <ul class="social-list">
                <!-- <li>
                  <a class="facebook itl-tooltip" data-placement="bottom" title="Facebook" href="#"><i class="fa fa-facebook"></i></a>
                </li> -->
                <li>
                  <a class="twitter itl-tooltip" data-placement="bottom" title="Twitter" href="https://twitter.com/limakilo_id" target="_blank"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                  <a class="instgram itl-tooltip" data-placement="bottom" title="Instagram" href="https://instagram.com/limakilo.id/" target="_blank"><i class="fa fa-instagram"></i></a>
                </li>
              </ul>
              <!-- End Social Links -->
            </div>
          </div>
        </div>
      </div>
      <!-- End Top Bar -->

      <!-- Start Header ( Logo & Naviagtion ) -->
      <div class="navbar navbar-default navbar-top">
        <div class="container">
          <div class="navbar-header">
            <!-- Stat Toggle Nav Link For Mobiles -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <i class="fa fa-bars"></i>
            </button>
            <!-- End Toggle Nav Link For Mobiles -->
            <!-- <a class="navbar-brand" href=""><img alt="" src="images/margo.png"></a> -->
            <a class="navbar-brand" href=""><b>LIMAKILO</b></a>
          </div>
          <div class="navbar-collapse collapse">
            <!-- Stat Search -->
            <div class="search-side" style="display:none;">
              <a class="show-search"><i class="fa fa-search"></i></a>
              <div class="search-form">
                <form autocomplete="off" role="search" method="get" class="searchform" action="#">
                  <input type="text" value="" name="s" id="s" placeholder="Search the site...">
                </form>
              </div>
            </div>
            <!-- End Search -->
            <!-- Start Navigation List -->
            <ul class="nav navbar-nav navbar-right">
              <li><a class="active" href="">Beranda</a></li>
              <li><a href="about">Tentang Kami</a></li>
              <li><a href="faq">FAQ</a></li>
              <li><a href="http://blog.limakilo.id" target="_blank" class="">Blog</a></li>
              <li><a href="contact">Kontak Kami</a></li>
            </ul>
            <!-- End Navigation List -->
          </div>
        </div>

        <!-- Mobile Menu Start -->
        <ul class="wpb-mobile-menu">
          <li><a class="active" href="">Beranda</a></li>
          <li><a href="about">Tentang Kami</a></li>
          <li><a href="faq">FAQ</a></li>
          <li><a href="http://blog.limakilo.id" target="_blank" class="">Blog</a></li>
          <li><a href="contact">Kontak Kami</a></li>
        </ul>
        <!-- Mobile Menu End -->

      </div>
      <!-- End Header ( Logo & Naviagtion ) -->

    </header>
    <!-- End Header -->


    <!-- Start HomePage Slider -->

    <section id="home">
      <!-- <div class="overlay"> -->
          <!-- Carousel -->
          <div id="main-slide" class="carousel slide" data-ride="carousel">

            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#main-slide" data-slide-to="0" class="active"></li>
              <li data-target="#main-slide" data-slide-to="1"></li>
              <!-- <li data-target="#main-slide" data-slide-to="2"></li> -->
            </ol>
            <!--/ Indicators end-->

            <!-- Carousel inner -->
            <div class="carousel-inner">
              <div class="item active">
                <img class="img-responsive" src="img/slider/slider1.jpg" alt="slider">
                <div class="slider-content">
                  <div class="col-md-12 text-center">
                    <h2 class="animated2">
                        <span style="background:#fff;padding:5px;opacity:0.8;">Selamat Datang di <strong>Limakilo</strong></span>
                    </h2>
                    <h3 class="animated3">
                        <span style="background:#fff;padding:5px;opacity:0.8;"><strong>#yukbelanjakepetani</strong></span>
                    </h3>
                    <p class="animated4"><a href="#" class="slider btn btn-system btn-large">Belanja Sekarang.</a></p>
                  </div>
                </div>
              </div>
              <!--/ Carousel item end -->
              <div class="item">
                <img class="img-responsive" src="img/slider/slider2.JPG" alt="slider">
                <div class="slider-content">
                  <div class="col-md-12 text-center">
                    <h2 class="animated4">
                        <span style="background:#fff;padding:5px;opacity:0.8;">Kami membantu <strong>Petani</strong> menjual komoditasnya</span>
                    </h2>
                    <h3 class="animated5">
                        <span style="background:#fff;padding:5px;opacity:0.8;">Dengan harga yang lebih kompetitif</span>
                    </h3>
                    <!-- <p class="animated6"><a href="#" class="slider btn btn-system btn-large">Buy Now</a></p> -->
                  </div>
                </div>
              </div>
              <!--/ Carousel item end -->
              <!-- <div class="item">
                <img class="img-responsive" src="img/slider/bg3.jpg" alt="slider">
                <div class="slider-content">
                  <div class="col-md-12 text-center">
                    <h2 class="animated7 white" style="font-size:3em;">
                                        <span>Saat ini layanan kami bisa diakses menggunakan</span>
                                    </h2>
                    <h3 class="animated8 white">
                                        <span>Website dan Android</span>
                                    </h3>
                    <div class="">
                      <a class="animated4 slider btn btn-system btn-large btn-min-block" href="#">Belanja Sekarang.</a><a class="animated4 slider btn btn-default btn-min-block" href="#">Live Demo</a>
                    </div>
                  </div>
                </div>
              </div> -->
              <!--/ Carousel item end -->
            </div>
            <!-- Carousel inner end-->

            <!-- Controls -->
            <a class="left carousel-control" href="#main-slide" data-slide="prev">
              <span><i class="fa fa-angle-left"></i></span>
            </a>
            <a class="right carousel-control" href="#main-slide" data-slide="next">
              <span><i class="fa fa-angle-right"></i></span>
            </a>
          </div>
          <!-- /carousel -->
      <!-- </div> -->
      
    </section>
    <!-- End HomePage Slider -->


    <!-- Start Full Width Sections Content -->
    <div id="content" class="full-sections">


      <!-- Start Full Width Section 2 -->
      <div class="section" style="padding-top:60px; padding-bottom:60px; border-top:1px solid #eee; border-bottom:1px solid #eee; background:#f9f9f9;">
        <div class="container">

          <div class="row">

            <!-- Start Left Side -->
            <div class="col-md-6">

              <!-- Start Big Heading -->
              <div class="big-title">
                <h1><strong>Tentang Kami</strong></h1>
                <!-- <p class="title-desc">Some Words About Our Company</p> -->
              </div>
              <!-- End Big Heading -->

              <!-- Some Text -->
              <p>Salah satu tim dari komunitas <a href="https://code4nation.id" target="_blank">Code4Nation</a> yang ingin membantu petani di Indonesia menjual komoditinya dengan lebih baik. Harapan terbesar kami adalah supaya masyarakat bisa membeli komoditas pangan langsung dari petani. [<a href="https://code4nation.id/t/hm-1-0-lima-kilo/" target="_blank">https://code4nation.id/t/hm-1-0-lima-kilo/</a>].</p>

              <!-- Divider -->
              <div class="hr1" style="margin-bottom:14px;"></div>

              <!-- Start Icons Lists -->
              <div class="row">
                <div class="col-md-6">
                  <ul class="icons-list">
                    <li><i class="fa fa-check-circle"></i> Toko online komoditas pangan.</li>
                    <li><i class="fa fa-check-circle"></i> Harga dari Petani.</li>
                    <li><i class="fa fa-check-circle"></i> Stabilitas Harga.</li>
                    
                  </ul>
                </div>
                <div class="col-md-6">
                  <ul class="icons-list">
                    <li><i class="fa fa-check-circle"></i> Pre Order Komoditas.</li>
                    <li><i class="fa fa-check-circle"></i> Bidding Penjualan.</li>
                    <li><i class="fa fa-check-circle"></i> Distribusi Bahan Pangan.</li>
                  </ul>
                </div>
              </div>
              <!-- End Icons Lists -->

              <!-- Divider -->
              <div class="hr1" style="margin-bottom:20px;"></div>

              <!-- Button -->
              <a href="about" class="btn-system btn-small">Lebih lengkap tentang kami</a>
            </div>
            <!-- End Left Side -->

            <!-- Vimeo Iframe -->
            <div class="col-md-6">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/pp-rneHU0kY" frameborder="0" allowfullscreen></iframe>
            </div>

          </div>

        </div>
      </div>
      <!-- End Full Width Section 2 -->

      <!-- Start Portfolio Section -->
      <div class="project">
        <div class="container">
          <!-- Start Recent Projects Carousel -->
          <div class="recent-projects">
            <h4 class="title"><span>Belanja</span></h4>
            <div class="projects-carousel touch-carousel">

            <% if(data.length){ 
                                      
                for(var i = 0;i < data.length;i++) { %>
                <div class="portfolio-item item">
                <div class="portfolio-border">
                  <div class="portfolio-thumb">
                    <a href="campaign/<%=data[i].id%>">
                      <img alt="<%=data[i].id%>" title="<%=data[i].id%>" src="<%=data[i].image_url%>" />
                    </a>
                  </div>
                  <div class="portfolio-details">
                    <span><%=data[i].city%></span>
                    <a href="campaign/<%=data[i].id%>"><h4><%=data[i].title%></h4></a>
                      <p><%=data[i].description%></p>
                  </div>
                </div>
              </div>


                <% }

              } 
            %>

            </div>
          </div>
          <!-- End Recent Projects Carousel -->

          <!-- Divider -->
          <div class="hr1" style="margin-bottom:30px;"></div>

          <!-- Button in Center -->
          <p class="text-center"><a href="#" class="btn-system btn-medium border-btn"><i class="icon-brush"></i> Lihat Semua</a></p>

        </div>
        <!-- .container -->
      </div>
      <!-- End Portfolio Section -->



      <!-- Start Full Width Section 5 -->
      <div class="section" style="padding-top:35px; padding-bottom:20px; border-top:0; border-bottom:0; background:#fff;">
        <div class="container">

          <!-- Start Clients Carousel -->
          <div class="our-clients">
            <!-- Classic Heading -->
            <h4 class="classic-title"><span>Media</span></h4>

          
            <div class="clients-carousel custom-carousel touch-carousel" data-appeared-items="5">

              <!-- Client 1 -->
              <div class="client-item item">
                <a href="https://code4nation.id/c/mdk/tim-5kg" target="_blank"><img src="img/media/code4nation.png" height="41px" style="margin:5px;"></a>
              </div>

              <!-- Client 2 -->
              <div class="client-item item">
                <a href="https://id.techinasia.com/inilah-pemenang-hackathon-merdeka-2015/" target="_blank"><img src="img/media/techinasia.png" height="41px" style="margin:5px;"></a>
              </div>

              <!-- Client 3 -->
              <div class="client-item item">
                <a href="https://www.facebook.com/photo.php?fbid=10153617244892863&set=a.10150210169562863.329207.563152862&type=1" target="_blank"><img src="img/media/kompas.jpg" height="41px" style="margin:5px;"></a>
              </div>

              <!-- Client 4 -->
              <div class="client-item item">
                <a href="https://www.youtube.com/watch?v=7vno4KI5IlI" target="_blank"><img src="img/media/beritasatu.jpg" height="41px" style="margin:5px;"></a>
              </div>

              <!-- Client 5 -->
              <div class="client-item item">
                <a href="http://www.cnnindonesia.com/teknologi/20150922212109-185-80440/aplikasi-pemantau-harga-pasar-diapresiasi-jokowi/" target="_blank"><img src="img/media/cnn.png" height="41px" style="margin:5px;"></a>
              </div>

              <!-- Client 6 -->
              <div class="client-item item">
                <a href="http://koran.tempo.co/konten/2015/09/05/381815/Hacker-dan-Bawang" target="_blank"><img src="img/media/koran-tempo.jpg" height="41px" style="margin:5px;"></a>
              </div>

            </div>
          </div>
          <!-- End Clients Carousel -->

        </div>
      </div>
      <!-- End Full Width Section 5 -->

    </div>
    <!-- End Full Width Sections Content -->


    <!-- Start Footer -->
    <footer>
      <% include ../partials/footer %>
    </footer>
    <!-- End Footer -->

  </div>
  <!-- End Container -->

  <!-- Go To Top Link -->
  <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

  <script type="text/javascript" src="asset/js/instagram-grid.min.js"></script>
  <script type="text/javascript" src="asset/js/twitterfetch.js"></script>
  <script type="text/javascript" src="asset/js/script.js"></script>

  <script> jQuery(document).ready(function() {twitterFetcher.fetch( '663286869203947520', 'twitter-news', 2, true);});</script>

  <script type="text/javascript">
    $(document).ready(function(){
        igrid.init({
            container: 'instafeed',
            client_id: '6b84401edf404d23a18bbbf53553c6af',
            userID: '2155057644', // CMA's instagram userID
            width: 3,
            height: 3,
            link: true,
            likes: true,
            likesHover: true,
            clearfix: true
        });
    });
  </script>

</body>

</html>